{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Atendimento</th>
                </tr>
            </thead>
            <tbody>
                {% for instructors in instructor%}
                    <tr>
                        <td>{{instructors.name}}</td>
                        <td> {{instructors.services}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </div>
{% endblock content %}